@-webkit-keyframes sidebareffect {
  from { transform: translate(100%, 0); }
  to { transform: translate(0, 0); }
}

@-webkit-keyframes sidebareffect2 {
  from { transform: translate(0, 0); }
  to { transform: translate(100%, 0); }
}

@-webkit-keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes backdropFadeIn {
  from { opacity: 0; }
  to { opacity: 0.2; }
}